name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # todo dia
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake files
        uses: Platane/snk@v3
        with:
          github_user_name: Matheus-Machaado
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Publish to output branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: output
          destination_dir: .
